body {
  margin: 10% 40%;
  font-weight: bold;
}
button {
  margin: 20px 100px;
  font-weight: bold;
  background-color: aquamarine;
  width: 100px;
  height: 30px;
}
p,
h2 {
  text-align: center;
}
#icon {
  margin-left: 40%;
}
h1 {
  text-align: center;
  color: blueviolet;
}
