/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 8px;
    background-color: #8a8484;
  }

  body {
    width: 60%;
    min-width: 600px;
    margin: 0 auto;
  }


  /* || typography */

  h1, h2, h3,h4,h5,h6,h7 {
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
    text-decoration: underline;
    font-size:2rem;
  }

  p, input, li {
    font-family: sans-serif;
    color: #2a2a2a;
    font-weight: bold;
    text-decoration:none;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
  }

  p, ul, li {
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: none;
  }

  /* || header layout */

  header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
  }

  main, header, nav, aside, footer {
    background-color:rgb(174, 174, 180);
    padding: 1%;
  }
  h1 {
    flex: 3;
    font-size: 18;
  }

  header img {
    display: block;
    height: 100px;
    padding-top: 20.15px;
  }

  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;

  }
  nav ul li  a:hover{
      background-color: red;

  }
  /* || main layout */
  /*psuedo-class*/
  .second {
    font-size: 14px;
    font-weight: bold;
    color:rgb(143, 12, 18);
}   
/*pseudo-element in profile*/
article p::first-line{
    font-weight:bold;
    color:rgb(5, 5, 2);
}

  aside {
    font-size: 14px;
    float: right;
    text-align: center;
    width: 20%;
    height: 400px;
    background-color: rgb(239, 242, 248);
    font-size: 14px;
    text-decoration-color: rgb(164, 247, 164);
    
  }
  .contact_info {

    color:rgb(132, 125, 235);
  }
  table{
    border:1px solid black;
    margin-left: 10rem;
    margin-right:auto;
    border-spacing: 30px 0;
    font-size:14px;
    
  }
  footer {
    margin-top: 5px;
    text-align: center;
  }
